// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;


$purple:#8007C2;
$orange: #FF9A00;
$light-gray: #dddddd;
$dark-gray: #7F7F7F;
$black: #000000;