<div class="container">

  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand"><i class="fas fa-cocktail pr-3 text-success"></i>COCKTAIL KIT</a>
  
    <form class="form-inline">
      <li class="nav-item list-unstyled">
        <a class="nav-link active" href="#">Pricing</a>
      </li>
      <li class="nav-item list-unstyled">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item list-unstyled">
        <%= link_to "Add new cocktail", new_cocktail_path, class: "btn btn-primary" %>
      </li>
    </form>
  </nav>
</div>


  <!-- cards -->
  <div class="container text-center">
    <h1 class="mt-4">Explore our cocktails</h1>
    <br>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card border-0 py-5 mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/weekly?cocktail');">
            <div class="card-description">
              <h2 class="text-white font-weight-light"><%= cocktail.name %></h2>
            </div>
            <%= link_to "", cocktail_path(cocktail), class: "stretched-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
</div>

<!-- newsletter -->
<div class="p-4 mt-4 bg" style="background-color: #EAEAEA;">
  <div class="text-center padded" id="newsletter">
    <h2>Get news from us</h2>
    <p>Subscribe to our newsletter</p>
    <br>
    <form class="form-inline d-flex justify-content-center"">
      <input type="email" placeholder="myname@gmail.com" class="form-control mr-1">
      <input type="submit" value="Subscribe" class="btn btn-primary btn-bordered btn-bordered-primary">
    </form>
</div>

