  <!-- cards -->
  <div class="container text-center">
    <h1 class="mt-4 text-muted">Explore our cocktails</h1>
    <br>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card border-0 py-5 mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
            <div class="card-description">
              <h2 class="text-white font-weight-light"><%= cocktail.name %></h2>  
            </div>
            <%= link_to "", cocktail_path(cocktail), class: "stretched-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<!-- newsletter -->
<div class="p-4 mt-4 bg" style="background-color: #EAEAEA;">
  <div class="text-center padded" id="newsletter">
    <h2>Get news from us</h2>
    <p>Subscribe to our newsletter</p>
    <br>
    <form class="form-inline d-flex justify-content-center"">
      <input type="email" placeholder="myname@gmail.com" class="form-control mr-1">
      <input type="submit" value="Subscribe" class="btn btn-primary btn-bordered btn-bordered-primary">
    </form>
</div>
